.dropDownContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    width: 175px;
    text-align: center;
}

#viewOptionsContainer{
    background-color: var(--container-light);
    padding: 3px;
}

#viewOptionsContainer:hover{
    background-color: var(--container-dark);
    color: var(--text-light);
}

.listContainer{
    position: absolute;
    top: 100%;
    max-height: 100px;
    overflow-y: auto;
    z-index: 999;

    background-color: var(--container-light);
    width: 100%;

}

.listItem{
    list-style: none;
    padding: 3px;
}

.listItem:hover{
    background-color: var(--container-dark);
    color: var(--text-light);
}

.hidden{
    display: none;
}