.pageWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    max-width: 350px;
    background-color: var(--container-light);
    padding: 80px;
    border-radius: 10px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 15px;
}

#loginHeader{
    margin: 0;
    margin-bottom: 15px;
}
.loginInputs{
    border: none;
    border-radius: 5px;
    padding: 10px;

    color: var(--text-dark);
}
.loginInputs::placeholder{
    color: var(--text-dark);
}
.loginInputs:focus{
    outline: none;
}

.link {
    color: var(--text-dark);
}

.link:hover {
    color: var(--text-medium);
}

.link:visited {
    color: var(--text-dark);
}